<form method="post" action="/jugadores/alta">
Ingrese nombre del ajugador:
<input type="nombre" name="nombre" size="50">
<br>
Ingrese la posicion del jugador:
<input type="text" name="POS" size="10">
<br>
Ingrese la edad del jugador:
<input type="text" name="edad" size="10">
<br>
Ingrese la estatura del jugador:
<input type="text" name="est" size="10">
<br>
Ingrese el peso del jugador:
<input type="text" name="P" size="10">
<br>
Ingrese la nacionalidad del jugador:
<input type="text" name="NAC" size="10">
<br>
Ingrese las apariciones del jugador:
<input type="text" name="Ap" size="10">
<br>
Ingrese las Apariciones como Sustituto del jugador:
<input type="text" name="SUB" size="10">
<br>
Ingrese las Asistencias del jugador:
<input type="text" name="A" size="10">
<br>
Ingrese los goles concedidos del jugador:
<input type="text" name="GA" size="10">
<br>
Ingrese las atajadas del jugador:
<input type="text" name="At" size="10">
<br>
Ingrese las faltas cometidas del jugador:
<input type="text" name="FC" size="10">
<br>
Ingrese las faltas sufridas del jugador:
<input type="text" name="FS" size="10">
<br>
Ingrese la cantidad de tarjetas amarillsd del jugador:
<input type="text" name="TA" size="10">
<br>
Ingrese la cantidad de tarjetas rojas del jugador:
<input type="text" name="TR" size="10">
<br>
<br>
<input type="submit" value="Agregar">
</form>