<form method="post" action="/jugadores/modificar">
Ingrese nombre del jugador a modificar
<input type="text" name="nombre" size="5">
<br>
Ingrese la posicion del jugador a modificar
<input type="text" name="POS" size="5">
<br>
<input type="submit" value="buscar">
</form>