<form method="post" action="/jugadores/delete">
Ingrese nombre del jugador a eliminar
<input type="text" name="nombre" size="5">
<br>
Ingrese la posicion del jugador a eliminar
<input type="text" name="POS" size="5">
<br>
<input type="submit" value="buscar">
</form>