<a href="/jugadores/creartabla">crear tabla de jugadores</a></p>
<a href="/jugadores/alta">alta de jugadores</a></p>
<a href="/jugadores/listado">Listado de jugadores</a></p>   
<a href="/jugadores/listadonac">Listado de jugadores con nacionalidad argentina</a></p>   
<a href="/jugadores/listadopeso">Listado de jugadores con peso entre 75 y 80</a></p> 
<a href="/jugadores/listadoestatura">Listado de jugadores mas altos</a></p>     
<a href="/jugadores/promedioaltura">Mostrar promedio de altura</a></p>
<a href="/jugadores/modificar">modificar jugadores</a></p>
<a href="/jugadores/delete">eliminar jugador</a></p>


