<form method="post" action="/tiendas/alta">
Ingrese nombre comercial de la tienda:
<input type="nombre_comercial" name="nombre_comercial" size="50">
<br>
Ingrese tipo de tienda:
<input type="text" name="tipo" size="10">
<br>
Ingrese direccion de tienda:
<input type="text" name="direccion" size="10">
<br>
Ingrese codigo postal de la tienda:
<input type="text" name="codpost" size="10">
<br>
Ingrese la poblacion de la tienda:
<input type="text" name="poblacion" size="10">
<br>
Ingrese la latitud de la tienda:
<input type="text" name="lat" size="10">
<br>
Ingrese la longitud de la tienda:
<input type="text" name="lng" size="10">
<br>
<br>
<input type="submit" value="Agregar">
</form>