<form method="post" action="/tiendas/modificar">
Ingrese nombre comercial de la tienda a modificar
<input type="text" name="nombre_comercial" size="5">
<br>
Ingrese el tipo de tienda
<input type="text" name="tipo" size="5">
<br>
<input type="submit" value="buscar">
</form>