<form method="post" action="/tiendas/delete">
Ingrese nombre de comercial de la tienda a eliminar
<input type="text" name="nombre_comercial" size="5">
<br>
Ingrese tipo de tienda a eliminar
<input type="text" name="tipo" size="5">
<br>
<input type="submit" value="buscar">
</form>