<a href="/tiendas/creartabla">crear tabla de tiendas</a></p>
<a href="/tiendas/alta">alta de tiendas</a></p>
<a href="/tiendas/listado">Listado de tiendas</p>   
<a href="/tiendas/listadocodpost">Listado de las tiendas que son de Mar del Plata</a></p> 
<a href="/tiendas/listadopoblacion">Listado de poblacion de 1</a></p> 
<a href="/tiendas/listadotipo">Listado de domicilio en calle Castello </a></p>
<a href="/tiendas/listadolat">Listado de latitud mas alta </a></p> 
<a href="/tiendas/listadolng">Listado de longitud mas baja </a></p> 
<a href="/tiendas/modificar">modificar tiendas</a></p>
<a href="/tiendas/delete">eliminar tiendas</a></p>


 