<form method="post" action="/clientes/alta">
Ingrese nombre del cliente:
<input type="nombre" name="nombre" size="50">
<br>
Ingrese apellido del cliente:
<input type="text" name="apellido" size="10">
<br>
Ingrese la fecha de nacimiento del cliente:
<input type="text" name="fecha" size="10">
<br>
Ingrese el peso del cliente:
<input type="text" name="P" size="10">
<br>
Ingrese la estatura del cliente:
<input type="text" name="est" size="10">
<br>
Ingrese el domicilio del cliente:
<input type="text" name="domicilio" size="10">
<br>
Ingrese el codpost del cliente:
<input type="text" name="codpost" size="10">
<br>
Ingrese el telefono 1 del cliente:
<input type="text" name="tel1" size="10">
<br>
Ingrese el telefono 2 del cliente:
<input type="text" name="tel2" size="10">
<br>
Ingrese el tipo de email del cliente:
<input type="text" name="email" size="10">
<br>
Ingrese la edad del cliente:
<input type="text" name="edad" size="10">
<br>
<br>
<input type="submit" value="Agregar">
</form>