<form method="post" action="/clientes/modificar">
Ingrese nombre del cliente a modificar
<input type="text" name="nombre" size="5">
<br>
Ingrese el apellido del cliente a modificar
<input type="text" name="apellido" size="5">
<br>
<input type="submit" value="buscar">
</form>