<form method="post" action="/clientes/delete">
Ingrese nombre del cliente a eliminar
<input type="text" name="nombre" size="5">
<br>
Ingrese apellido del cliente a eliminar
<input type="text" name="apellido" size="5">
<br>
<input type="submit" value="buscar">
</form>