<a href="/clientes/creartabla">crear tabla de clientes</a></p>
<a href="/clientes/alta">alta de clientes</a></p>
<a href="/clientes/listado">Listado de clientes</p>   
<a href="/clientes/listadocodpost">Listado de los clientes que nos son de Mar del Plata</a></p>   
<a href="/clientes/listadopeso">Listado de cliente con mayor peso</a></p> 
<a href="/clientes/listadopesomayor90">Listado de clientes con peso mayor a 90</a></p>     
<a href="/clientes/listadoestatura">Mostrar el cliente mas alto</a></p>
<a href="/clientes/promedioaltura">Mostrar promedio de altura</a></p>
<a href="/clientes/listadoedad">Mostrar el cliente de menor edad</a></p>
<a href="/clientes/listadoemail">Mostrar clientes que tengan gmail</a></p>
<a href="/clientes/modificar">modificar clientess</a></p>
<a href="/clientes/delete">eliminar cliente</a></p>


